{% extends 'base.html.twig' %}

{% block title %}Education{% endblock %}

{% block body %}
    <style>
        body{
            text-align: center;

        }
        .center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
    <h1>Education</h1>

    <table class="table center">
        <tbody>

            <tr>
                <th>Name</th>
                <td>{{ education.name }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ education.location }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ education.type }}</td>
            </tr>
            <tr>
                <th>Year</th>
                <td>{{ education.year }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_profile_index') }}">back to list</a>

    <a href="{{ path('education_edit', {'id': education.id}) }}">edit</a>

{% endblock %}
